.table {
    margin-top: 20px;
    height: 400px;
    overflow: scroll;
    background-color: #f3f2f8;
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding :0.5rem
}
.table tr:nth-of-type(odd){
    background-color: #d3d3d3;
}